@font-face {
  font-family: BravaB;
  src: url(../fonts/BravaSlab-Bold.otf); }

@font-face {
  font-family: BravaEB;
  src: url(../fonts/BravaSlab-ExtraBold.otf); }

@font-face {
  font-family: BravaR;
  src: url(../fonts/BravaSlab-Regular.otf); }

@font-face {
  font-family: BravaL;
  src: url(../fonts/BravaSlab-Light.otf); }

@font-face {
  font-family: Sedan;
  src: url(../fonts/SedanSC.ttf); }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-transform: none; }

body {
  background: #FFFADF;
  font-family: BravaR;
  overflow: hidden; }
  body .bg-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FEF9DE;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    transition: 1s; }
    body .bg-preloader .preloader {
      position: absolute;
      width: 45vw;
      height: 40vw;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -50%);
      background: url(../image/preloader.png) no-repeat;
      background-size: contain; }
    body .bg-preloader.done {
      visibility: hidden;
      opacity: 0; }
  body section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -3.5vw; }
    @media screen and (max-width: 1024px) {
      body section {
        margin-top: 0; } }
  body .contanier {
    width: 39vw;
    height: 45vw;
    transform: translate(-50%, 10%);
    perspective: 2500px; }
    @media screen and (max-width: 1024px) {
      body .contanier {
        transform: translate(0%, 0%);
        width: 100vw;
        height: 100vh; }
        body .contanier .zero {
          display: none; }
        body .contanier .bookbg {
          display: none; } }
    body .contanier .bookbg {
      margin-left: -5%;
      margin-top: -2%;
      width: 215%;
      height: 110%;
      background: url(../image/bgBook.png) no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0; }
    body .contanier .zero {
      width: 100%;
      height: 100%;
      z-index: 1;
      background: url(../image/bgLeftPc.png) no-repeat;
      background-size: cover;
      position: absolute;
      left: .05%; }
    body .contanier .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      transform: rotateY(180deg);
      transform-style: preserve-3d;
      transform-origin: right; }
      @media screen and (max-width: 1024px) {
        body .contanier .cover {
          margin-left: -100vw; } }
      body .contanier .cover .front, body .contanier .cover .back {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; }
      body .contanier .cover .front {
        background: url(../image/bgLeftPc.png) no-repeat;
        background-size: cover; }
      body .contanier .cover .back {
        background: url(../image/bgRightPc.png) no-repeat;
        transform: rotateY(180deg);
        background-size: cover; }
    body .contanier .controls {
      position: absolute;
      z-index: 1000;
      width: 78vw; }
      @media screen and (max-width: 1024px) {
        body .contanier .controls {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          flex-direction: row; } }
      body .contanier .controls .unvisibleControls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 96vw;
        height: 45vw;
        margin-left: -8vw; }
        @media screen and (max-width: 1024px) {
          body .contanier .controls .unvisibleControls {
            width: 100vw;
            height: 5vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            background: #4F4240;
            margin-left: 11vw;
            position: fixed; } }
        body .contanier .controls .unvisibleControls .Pagerbtn1, body .contanier .controls .unvisibleControls .Pagerbtn2 {
          width: 5vw;
          height: 5vw;
          background-color: rgba(255, 255, 255, 0.1);
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          color: rgba(0, 0, 0, 0.5);
          transition: .3s ease-in-out; }
          body .contanier .controls .unvisibleControls .Pagerbtn1:hover, body .contanier .controls .unvisibleControls .Pagerbtn2:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5); }
      body .contanier .controls ul {
        width: 10vw;
        height: auto;
        background: #FFF5E7;
        position: absolute;
        top: 0;
        left: 0;
        height: 35vw;
        margin-top: -1vw;
        margin-left: 1.5vw;
        font-size: 2vw;
        color: #4F4240;
        transition: .3s ease-in-out; }
        @media screen and (max-width: 1024px) {
          body .contanier .controls ul {
            left: 80vw;
            background-color: rgba(0, 0, 0, 0); }
            body .contanier .controls ul:hover li {
              visibility: visible;
              opacity: 1; } }
        body .contanier .controls ul .btn {
          display: none; }
          @media screen and (max-width: 1024px) {
            body .contanier .controls ul .btn {
              display: block;
              width: 60px;
              height: 60px;
              background: #000; } }
        body .contanier .controls ul li {
          transition: .3s ease-in-out; }
          @media screen and (max-width: 1024px) {
            body .contanier .controls ul li {
              visibility: hidden;
              opacity: 0; } }
          body .contanier .controls ul li.logo {
            margin-top: 3vw;
            width: 100%;
            height: 4vw;
            background: url(../image/logo.png) no-repeat;
            background-size: contain;
            background-position: center; }
          body .contanier .controls ul li p {
            font-size: .5vw; }
          body .contanier .controls ul li.social {
            font-size: .5vw; }
        body .contanier .controls ul button {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          background-color: rgba(0, 0, 0, 0);
          border: none;
          cursor: pointer; }
      body .contanier .controls button {
        padding: 0 25px; }
