@font-face {
  font-family: BravaB;
  src: url(../fonts/BravaSlab-Bold.otf);
}

@font-face {
  font-family: BravaEB;
  src: url(../fonts/BravaSlab-ExtraBold.otf);
}

@font-face {
  font-family: BravaR;
  src: url(../fonts/BravaSlab-Regular.otf);
}

@font-face {
  font-family: BravaL;
  src: url(../fonts/BravaSlab-Light.otf);
}

@font-face {
  font-family: Sedan;
  src: url(../fonts/SedanSC.ttf);
}
