@import "fonts";
@import "mixins";
@import "variables";
@import "animation";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-transform: none;
}

      body {
          background: #FFFADF;
          font-family: BravaR;
          overflow: hidden;

          .bg-preloader {
            position: fixed;
            top:0;
            left: 0;
            @include size(100%, 100%);
            background: $bodyColor;
            z-index: 999;
            visibility: visible;
            opacity: 1;
            transition: 1s;

            .preloader {
              position: absolute;
              @include size(45vw, 40vw);
              top:50%;
              left:50%;
              transform: translate(-45%,-50%);
              background: url(../image/preloader.png) no-repeat;
              background-size: contain;
            }

            &.done {
              visibility: hidden;
              opacity: 0;
            }
          }


          section {
            @include flex();
            margin-top: -3.5vw;

            @media screen and (max-width: 1024px) {
              margin-top: 0;
            }

          }

          .contanier {
            @include size(39vw, 45vw);

              transform: translate(-50%, 10%);
              perspective: 2500px;

              @media screen and (max-width: 1024px) {
                transform: translate(0%, 0%);
                @include size(100vw, 100vh);



                .zero {
                  display: none;
                }
                .bookbg {
                  display: none;
                }
              }

              .bookbg {
                margin-left: -5%;
                margin-top: -2%;
                width: 215%;
                height: 110%;
                background:  url(../image/bgBook.png) no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                left: 0;

              }

              .zero {
                width: 100%;
                height: 100%;
                z-index: 1;
                background: url(../image/bgLeftPc.png) no-repeat;
                background-size: cover;
                position: absolute;
                left: .05%;

              }

              .cover {
                @include size(100%, 100%);
                  position: absolute;

                  transform: rotateY(180deg);
                  transform-style: preserve-3d;
                  transform-origin: right;

                  @media screen and (max-width: 1024px) {
                    margin-left: -100vw;
                  }

                  .front, .back {
                      display: block;
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      backface-visibility: hidden;
                  }

                  .front {
                    background: url(../image/bgLeftPc.png) no-repeat;
                    background-size: cover;
                  }

                  .back {
                    background: url(../image/bgRightPc.png) no-repeat;
                      transform: rotateY(180deg);
                      background-size: cover;

                  }
              }

              .controls {
                  position: absolute;
                  z-index: 1000;
                  width: 78vw;

                  @media screen and (max-width: 1024px)
                  {
                    height: 100vh;
                    @include flex(center, flex-end);

                  }

                  .unvisibleControls {
                    @include flex(space-between);
                    @include size(96vw, 45vw);
                    margin-left: -8vw;

                    @media screen and (max-width: 1024px)
                    {
                      @include size(100vw, 5vh);
                      @include flex(space-around);
                      background: $mainColor;

                      margin-left: 11vw;

                      position: fixed;

                    }



                    .Pagerbtn1 {
                      @include size(5vw, 5vw);
                      background-color: rgba(255, 255, 255, .1);
                      border: none;

                      @include flex(center, center);

                      color: rgba(0, 0, 0, .5);

                      transition: .3s ease-in-out;

                      &:hover {
                        cursor: pointer;
                        background-color: rgba(255, 255, 255, .5);
                      }

                    }

                    .Pagerbtn2 {
                      @extend .Pagerbtn1;
                    }
                  }

                  ul {
                    @include size(10vw, auto);
                    background: #FFF5E7;
                    position: absolute;
                    top:0;
                    left: 0;
                    height: 35vw;
                    margin-top: -1vw;
                    margin-left: 1.5vw;

                    font-size: 2vw;
                    color: $mainColor;

                    transition: .3s ease-in-out;

                    @media screen and (max-width: 1024px) {
                      left:80vw;

                      background-color: rgba(0,0,0,0);

                      &:hover li {
                        visibility: visible;
                        opacity: 1;
                      }
                    }

                    .btn {

                      display: none;

                      @media screen and (max-width: 1024px)
                      {
                        display: block;
                        @include size(60px, 60px);
                        background: #000;
                    }

                  }

                    li {

                      transition: .3s ease-in-out;


                      @media screen and (max-width: 1024px) {
                        visibility: hidden;
                        opacity: 0;
                      }

                    &.logo {
                      margin-top: 3vw;
                      width: 100%;
                      height: 4vw;
                      background: url(../image/logo.png) no-repeat;
                      background-size: contain;
                      background-position: center;
                    }

                    & p {
                      font-size: .5vw;
                    }

                    &.social {
                      font-size: .5vw;
                    }

                    }

                    button {
                      width: 100%;
                      @include flex();
                      background-color: rgba(0,0,0,0);
                      border: none;

                      cursor: pointer;

                    }

                  }

                  button {
                    padding: 0 25px;
                  }
              }


          }

      }
