$bodyColor: #FEF9DE;
$pagesGradientLeft:linear-gradient(90deg, #FFFDF5 65.64%, #F1F0EA 100.88%);
$pagesGradientRight:linear-gradient(90deg, #F1F0EA -0.64%, #FFFDF5 35.88%);
$h2size: 66px;
$mainColor: #4F4240;
$menuColor: #483800;
$advicesFontSize: 17px;
$tableFontSize: 14px;
$fiveAnglesColor: #FCE38A;
